// Specific CSS for your home-page

.container {
  background-color: azure;
}

.header {
  text-align: center;
  font: bolder;
  padding-top: 1.5em;
  padding-left: 1em;
}

.header h1 {
  font-size: 2em;
}

.header h2 {
  text-align: left;
  font-size: 1.5em;
}

.header img {
  margin: 0.8em;
  width: 10%;
  height: 10%;
}

.classification {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
}

.table {
  text-align: left;
  border: 3px solid black;
  border-collapse: collapse;
}

.table th {
  font-size: 1.3em;
  font: bolder;
}

.table td {
  font-size: 1.3em;
}

.table img {
  width: 1.3em;
  height: 1.3em;
}
